body {
  font-family: "Lato" "Noto Sans JP";
}

.bg-main {
  background: #2073D4;
}

.text-main {
  color:  #2073D4;
}

.fw700 {
  font-weight: 700;
}

.flex-center {
  display: flex;
  justify-content: center;
}
