.bg-main {
  background: #2073D4;
}

.l-height {
  height: 2rem;
}

.m-height {
  height: 1.5rem;  
}

.s-height {
  height: 1rem;
}

.xl-height {
  height: 2.5rem;
}

.xxl-height {
  height: 3rem;
}

.box-shadow {
  box-shadow: 0px 4px 4px gray;
}

.bold {
  font-weight: bold;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.5rem;
}

.line-h {
  line-height: 2.0rem;
}

