/* bodyの設定 */
body {
  font-family: 'Lato','Noto Sans JP';
  width: 100vw;
  line-height: 2rem;
}

/* 太字 */
.fw700 {
  font-weight: 700;
}

/* 水平方向中央ぞろえ */
.flex-center {
  display: flex;
  justify-content: center;
}

/* h1～h3スタイル */
h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

/* メインボタン */
.btn-main {
  padding: 1rem 5rem 1rem 5rem;
  margin: 3rem;
  font-size: 1rem;
  font-weight: 700;
}
